.main{
    margin-top: 100px;
}   

.googleImg{
    display: block;
    width:300px;
    margin-bottom: 10px;  
    margin-left: auto; 
    margin-right: auto;
}

.searchBar{
    display: block;
    width: 400px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(14, 12, 12);
    border-radius: 26px;
}
.btn{
display: flex;
justify-content: center;
}
.btn1{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
    padding: 8px;
    background: rgb(230, 227, 227);
    border: none;
    border-radius:4px;
    font-size: 14px;
}
